# Apache htaccess configurations
#
# Basic configurations for the database system that provide the following
# features:
# - URLs directed to "index.php" are redirected to the root
# - URLs end in forward slashes ("/")
# - URLs are interpreted, from install, as "/<page>/<article_slug>"
#   <page> must be 'article' for 'article_slug' to be valid
# - As a result of above, 404 errors are handled internally with php.
#
# version 1.0 2014-06-30
# author  Matthew Rodusek <rodu4140@mylaurier.ca>
#

<IfModule mod_autoindex.c>
Options -Indexes
</IfModule>

#<IfModule mod_rewrite.c>
#Options +FollowSymLinks
#RewriteEngine On

RewriteBase /ucsd/

# Removes index.php from URLs

# Exclude the admin directory
RewriteRule ^(admin)($|/) - [L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s(.*)/index\.php [OR,NC]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s(.*)/index [OR,NC]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s(.*)/index/ [NC]
RewriteRule ^ %1 [L,R=301]

# Externally, redirect URLs to end in slashes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !/$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ $1/ [L,R=301]

# Externally, redirect URLs to end in slashes
RewriteCond %{THE_REQUEST} ^GET\ /[^?\s]+\.php
RewriteRule ^(.*)\.php$ $1/ [L,R=301]

# Internally Interpret URLs of article/<anything> to be article.php?slug=<anything>
RewriteRule ^article/(.*)/$ index.php?page=article&slug=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ index.php?page=$1 [L]

#</IfModule>

# Manually specify error document page to display
# Future proofing: 
# ErrorDocument 400 /400/ # Bad Request
# ErrorDocument 401 /401/ # Unauthorized
# ErrorDocument 403 /403/ # Forbidden
ErrorDocument 404 /404/ 
# ErrorDocument 500 /500/ # Internal service error
