@charset "utf-8";

/** GLOBAL STYLES
 *
 * AUTHOR:  Matthew Rodusek 
 * DATE:    2014-07-12 
 * VERSION: 1.0.0
 *
 * STRUCTURE:
 *  $__reset         Reset browser styles
 *  $__rebuild       Rebuild browser styles
 *  $__globals       Global values
 *  $__header        Header Definitions
 *  $__navigation    Navigation Definitions
 *  $__menu          Site Navigation
 *  $__content       Everything within the content
 *  $__footer        Footer Definitions
 *  $__system-alert  System alert and error messages
 *
 */

/* __reset
--------------------------------------------------------------------------- */

@import url("reset.css");

/* __rebuild
--------------------------------------------------------------------------- */
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	
	/*-webkit-tap-highlight-color: rgb(28, 186, 236); 
	-webkit-text-size-adjust: 100%;*/
}
h1{font-size: 2em;}
h2{font-size: 1.8em;}
h3{font-size: 1.6em;}
h4{font-size: 1.4em;}
h5{font-size: 1.2em;}
h1,h2,h3,h4,h5,h6{
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
#content h1, #content h2, #content h3{margin: 20px 0 10px;}
#content h2{
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

p{margin: 0 0 10px;}
strong{font-weight: 700; }
em{font-style: italic; }
sup, sub { vertical-align: baseline; position: relative; top: -0.4em; font-size: 75%; }
sub { top: 0.4em; }

blockquote{
	margin: 20px 0;
	padding: 20px 20px 10px;
	border-left: 3px solid #444;  
	background-color: #eee;
}
blockquote > blockquote{
	margin: 0;
	padding: 10px 10px 0;
}
code, pre{
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
pre{
	margin: 20px 0;
	padding: 20px;
	border-left: 3px solid #5bc0de;;  
	background-color: #f4f8fa;
}
del{
	text-decoration: line-through;
	color: #ff0000;
}
#content ul li{list-style: circle outside; margin-left: 20px;}
#content ol li{list-style: decimal outside; margin-left: 20px;}
#content ul, ol{display: block; margin: 10px 0;}

/* __globals
---------------------------------------------------------------------------- */
#wrapper{
	min-height: 100%;
	height: auto !important; height: 100%;
	margin: 0 auto -3em;
}
#header, #footer{min-width: 980px;}
#push, #footer{ height: 3em;}
#push{margin-top: 0.714em; }

.alert {
  text-shadow: 0 1px 0 rgba(255,255,255,.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-success{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;	
}

.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-warning{
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.alert-error{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.callout{
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.callout-warning{ border-left-color: #f0ad4e; }
.callout-error{ border-left-color: #d9534f;   }
.callout-info{ border-left-color: #5bc0de;    }
.callout-success{ border-left-color: #7ad03a; }

.button{
	color: #555;
	border-color: #ccc;
	background: #f7f7f7;
	-webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	vertical-align: baseline;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-appearance: none;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.button:active{
	outline:0;
	background:#eee;
	-webkit-box-shadow:inset 0 2px 5px -3px rgba(0,0,0,.5);
	box-shadow:inset 0 2px 5px -3px rgba(0,0,0,.5)
}

.button:hover, .button:focus{
	background:#fafafa;
	border-color:#999;
	color:#222;
}

.button-primary{
	background: #2ea2cc;
	border-color: #0074a2;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	color: #fff;
	text-decoration: none;
}
.button-primary:active{
	background:#1e8cbe;
	border-color:#005684;
	color:rgba(255,255,255,.95);
	-webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,.1);
	box-shadow:inset 0 1px 0 rgba(0,0,0,.1);
	vertical-align:top;
}
.button-primary:hover, .button-primary:focus{
	background:#1e8cbe;
	border-color: #0074a2;
	color:#fff;
	-webkit-box-shadow:inset 0 1px 0 rgba(120,200,230,.6);
	box-shadow:inset 0 1px 0 rgba(120,200,230,.6);
}

.underline{
	text-decoration: underline;
}
.container{ width: 980px; margin: 0 auto;}
.container { margin-right: auto; margin-left: auto; *zoom: 1; }
.container:before,
.container:after {display: table; line-height: 0; content: "";}
.container:after {clear: both;}
hr{
	border: 0;
    height: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #eee;
}
/* __header
---------------------------------------------------------------------------- */
#header-content{height: 110px; position: relative;}
#logo{float: left; height: 80px; position: absolute; left: 0;}
#logo a{
	text-indent: -99999px;
	display: block;
	height: 80px; width: 80px;
	background: url("../img/logo-80x80.png") no-repeat left;	
}
#navigation{position: absolute; right: 0;}

/* __navigation
---------------------------------------------------------------------------- */

#navigation ul li{
	list-style: none;
	float: left;
	margin-right: 10px;
	margin-left: 0;
	border-right: 1px solid #CCC;
	padding-right: 10px;
}
#navigation ul li:last-child{
	border-right: none;
}
#navigation ul{float: left;}
#navigation .search-form{float: left;}

/* __menu
---------------------------------------------------------------------------- */

/* __content
---------------------------------------------------------------------------- */

#banner{
	color: #FFF;
	position: relative;
	background-color: black;
	width: 980px; height: 320px;
	overflow: hidden;
}

#banner-content{
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
	width: 300px; height: 320px;
	display: table;
	border-left: 1px solid  rgba(255,255,255,0.4);
	background-color: rgba(0,0,0,0.4);
}

.banner-content-inner{
	margin: auto;
	display: table-cell;
	vertical-align: middle;
	padding: 0 35px;
}

#update-content{
	float: left;
	width: 620px;
	padding-left: 10px;
}

#featured-content{
	float: right;
	width: 310px;
	padding-right: 10px;
}


/* __footer
---------------------------------------------------------------------------- */
#footer{
	width: 100%;
}
#footer-links{
	border-top: 1px solid #AAA;
	height: 1.2em;
	padding-top: 0.8em;
	padding-bottom: 1em;
}
#footer-links a, #footer-links{
	color: #111;
	text-transform: uppercase;	
	text-decoration: none;
}
#footer-links a:hover{
	color: #000;
	text-decoration: underline;
}
#footer-links{
	font-size: 0.857em;
}
#footer-links ul, #footer-links li { float: left; }
#footer-links li{
	margin-right: 10px;
	border-right: 1px solid #CCC;
	padding-right: 10px;
}
#footer-links ul li:last-child{
	border-right: none;
}
#footer-links #copyright{
	padding: 0; margin: 0;
	float: right;
}

/* __system-alert
---------------------------------------------------------------------------- */