@charset "utf-8";
/** ADMIN STYLES
 *
 * AUTHOR:  Matthew Rodusek 
 * DATE:    2014-07-12 
 * VERSION: 1.0.0
 *
 */

body{
	background: #e6e6e6;
}
 
/* Admin header stuffs
--------------------------------------------------------------------------- */

.admin>#header{
	background: #222;
	height: 35px;
	margin-bottom: 20px;
}
.admin>#header>#header-content{
	height: 100%;
}
.admin>#header a{
	color: #bbbbbb;
	text-decoration: none;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
}
.admin>#header a.disabled{
	color: #888;
}
.admin>#header a:hover{
	color: #eee;
	background: #333;
}

/* Login Form information
--------------------------------------------------------------------------- */

#login-form{
	margin: 20px auto 0;
	background: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
	padding: 26px 24px 46px;
	font-weight: 400;
	overflow: hidden;
}
.login .callout{
	width: 284px;
	margin: 0 auto;
}
#login {
	width: 320px;
	padding: 10% 0 0;
	margin: auto;
}

.login input[type="text"],
.login input[type="password"]{
	font-size: 1.5em;
	width: 270px;
}

/* Pagedown Editor Styles
--------------------------------------------------------------------------- */

#wmd-form{
	margin-bottom: 15px;
}
#wmd-title-input{
	width: 100%;
}
#wmd-input{
	width: 100%;
	height: 300px;
}
.wmd-panel
{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	min-width: 500px;
}

.wmd-button-bar 
{
	width: 100%;
	background-color: Silver; 
}

.wmd-input 
{ 
	height: 300px;
	width: 100%;
	background-color: Gainsboro;
	border: 1px solid DarkGray;
}

.wmd-preview 
{ 
	background-color: #c0e0ff; 
}

.wmd-button-row 
{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: 25px;
}

.wmd-spacer
{
	width: 1px; 
	height: 25px; 
	margin-left: 7px;
	margin-right: 7px;
	
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button {
    width: 25px;
    height: 25px;
    padding-left: 2px;
    padding-right: 3px;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    left: 0!important;
}
.wmd-button:hover{
	background: #eee;
}
.wmd-button > span{
	position: relative;
}

.wmd-button > span,
.wmd-button > span:before{
	width: 25px;
    height: 25px;
    font-size: 16px;
    text-align:center;
    display: inline-block;
}
.wmd-button>span:before{
	position: absolute;
	left: 0;
	top: 0;
}

.wmd-button > span:before {
    vertical-align: baseline;
    font-family: 'icomoon';
    speak: none;
}
#wmd-bold-button > span:before{ content: '\e657'; }
#wmd-italic-button > span:before{ content: '\e659'; }
#wmd-underline-button > span:before{ content: '\e658';}
#wmd-strikethrough-button > span:before{ content: '\e65a';}
#wmd-superscript-button > span:before{ content: '\e640'; }
#wmd-subscript-button > span:before{ content: '\e641'; }
#wmd-math-button > span:before{ content: '\e65c'; }
#wmd-link-button > span:before{ content: '\e64c'; }
#wmd-quote-button > span:before{ content: '\e63c'; }
#wmd-code-button > span:before{ content: '\e67d'; }
#wmd-image-button > span:before{ content: '\e604'; }
#wmd-olist-button > span:before{ content: '\e649'; }
#wmd-ulist-button > span:before{ content: '\e648'; }
#wmd-heading-button > span:before{ content: '\e656'; }
#wmd-hr-button > span:before{}
#wmd-undo-button > span:before{ content: '\e632'; }
#wmd-redo-button > span:before{ content: '\e633'; }
/*
.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}*/

.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

#sidebar{
	position: fixed;
	top: 2em;
	width: 200px;
	height: 100%;
	background-color: #333;
	z-index: 10;
}
.wmd-panel{
	margin: 0;
	patting: 0;
}
.input{
	border-radius: 3px;
	border: 1px solid #aaa;
}
.output{
	min-width: 640px;
	width: 100%;
	max-width: 100%;
	min-height: 300px;
}
input{
	font-size: 1.5em;
	padding: 5px 2px;
	border-radius: 3px;
	border: 1px solid #aaa;
}
#col_title{}
#col_author{width: 150px;}
#col_date{width:150px;}

small{
	color: #777;
}

/* Hidden
--------------------------------------------------------------------------- */

#MathJax_Message{
	display: none !important;
}